body{
    font-family: 'DM Sans', sans-serif;
    font-size:1rem;
    line-height: 1.5rem;
}

.small{
    font-size:.5rem;
}

.regular{
    font-size:1rem;
}

.medium{
    font-size:1.5rem;
}

.large{
    font-size:2rem;
}

.x-large{
    font-size:2.5rem;
}

.big{
    font-size:3rem;
}

.x-big{
    font-size:3.5rem;
}
