/*!***********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./style/style.scss ***!
  \***********************************************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::after,
*::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --white:#FFFFFF;
  --black:#000000;
  --red: #FF0000;
  --green: #00FF00;
  --blue: #0000FF;
  --cyan: #00FFFF;
  --magenta:#FF00FF;
  --yellow:#FFFF00;
  --first: #FF3A29;
  --secound: #02A0FC;
  --third: #4339F2;
  --fourth: #34B53A;
  --fifth: #FFB200;
  --first-light: #FFE5D3;
  --secound-light: #CCF8FE;
  --third-light: #DAD7FE;
  --fourth-light: #E2FBD7;
  --fifth-light: #FFF5CC;
}

.bg-color-white {
  background-color: var(--white);
}

.bg-color-black {
  background-color: var(--black);
}

.bg-color-red {
  background-color: var(--red);
}

.bg-color-green {
  background-color: var(--green);
}

.bg-color-blue {
  background-color: var(--blue);
}

.bg-color-cyan {
  background-color: var(--cyan);
}

.bg-color-magenta {
  background-color: var(--magenta);
}

.bg-color-yellow {
  background-color: var(--yellow);
}

.bg-color-first {
  background-color: var(--first);
}

.bg-color-second {
  background-color: var(--secound);
}

.bg-color-third {
  background-color: var(--third);
}

.bg-color-fourth {
  background-color: var(--fourth);
}

.bg-color-fifth {
  background-color: var(--fifth);
}

.bg-color-first-light {
  background-color: var(--first-light);
}

.bg-color-second-light {
  background-color: var(--secound-light);
}

.bg-color-third-light {
  background-color: var(--third-light);
}

.bg-color-fourth-light {
  background-color: var(--fourth-light);
}

.bg-color-fifth-light {
  background-color: var(--fifth-light);
}

.text-color-white {
  color: var(--white);
}

.text-color-black {
  color: var(--black);
}

.text-color-red {
  color: var(--red);
}

.text-color-green {
  color: var(--green);
}

.text-color-blue {
  color: var(--blue);
}

.text-color-cyan {
  color: var(--cyan);
}

.text-color-magenta {
  color: var(--magenta);
}

.text-color-yellow {
  color: var(--yellow);
}

.text-color-first {
  color: var(--first);
}

.text-color-second {
  color: var(--secound);
}

.text-color-third {
  color: var(--third);
}

.text-color-fourth {
  color: var(--fourth);
}

.text-color-fifth {
  color: var(--fifth);
}

.text-color-first-light {
  color: var(--first-light);
}

.text-color-second-light {
  color: var(--secound-light);
}

.text-color-third-light {
  color: var(--third-light);
}

.text-color-fourth-light {
  color: var(--fourth-light);
}

.text-color-fifth-light {
  color: var(--fifth-light);
}

.m-8 {
  margin: 0.5 rem;
}

.m-16 {
  margin: 1 rem;
}

.m-24 {
  margin: 1.5 rem;
}

.m-32 {
  margin: 2 rem;
}

.m-40 {
  margin: 2.5 rem;
}

.m-48 {
  margin: 3 rem;
}

.m-56 {
  margin: 3.5 rem;
}

.mt-8 {
  margin-top: 0.5 rem;
}

.mt-16 {
  margin-top: 1 rem;
}

.mt-24 {
  margin-top: 1.5 rem;
}

.mt-32 {
  margin-top: 2 rem;
}

.mt-40 {
  margin-top: 2.5 rem;
}

.mt-48 {
  margin-top: 3 rem;
}

.mt-56 {
  margin-top: 3.5 rem;
}

.mb-8 {
  margin-bottom: 0.5 rem;
}

.mb-16 {
  margin-bottom: 1 rem;
}

.mb-24 {
  margin-bottom: 1.5 rem;
}

.mb-32 {
  margin-bottom: 2 rem;
}

.mb-40 {
  margin-bottom: 2.5 rem;
}

.mb-48 {
  margin-bottom: 3 rem;
}

.mb-56 {
  margin-bottom: 3.5 rem;
}

.ml-8 {
  margin-left: 0.5 rem;
}

.ml-16 {
  margin-left: 1 rem;
}

.ml-24 {
  margin-left: 1.5 rem;
}

.ml-32 {
  margin-left: 2 rem;
}

.ml-40 {
  margin-left: 2.5 rem;
}

.ml-48 {
  margin-left: 3 rem;
}

.ml-56 {
  margin-left: 3.5 rem;
}

.mr-8 {
  margin-right: 0.5 rem;
}

.mr-16 {
  margin-right: 1 rem;
}

.mr-24 {
  margin-right: 1.5 rem;
}

.mr-32 {
  margin-right: 2 rem;
}

.mr-40 {
  margin-right: 2.5 rem;
}

.mr-48 {
  margin-right: 3 rem;
}

.mr-56 {
  margin-right: 3.5 rem;
}

.p-8 {
  padding: 0.5 rem;
}

.p-16 {
  padding: 1 rem;
}

.p-24 {
  padding: 1.5 rem;
}

.p-32 {
  padding: 2 rem;
}

.p-40 {
  padding: 2.5 rem;
}

.p-48 {
  padding: 3 rem;
}

.p-56 {
  padding: 3.5 rem;
}

.pt-8 {
  padding-top: 0.5 rem;
}

.pt-16 {
  padding-top: 1 rem;
}

.pt-24 {
  padding-top: 1.5 rem;
}

.pt-32 {
  padding-top: 2 rem;
}

.pt-40 {
  padding-top: 2.5 rem;
}

.pt-48 {
  padding-top: 3 rem;
}

.pt-56 {
  padding-top: 3.5 rem;
}

.pb-8 {
  padding-bottom: 0.5 rem;
}

.pb-16 {
  padding-bottom: 1 rem;
}

.pb-24 {
  padding-bottom: 1.5 rem;
}

.pb-32 {
  padding-bottom: 2 rem;
}

.pb-40 {
  padding-bottom: 2.5 rem;
}

.pb-48 {
  padding-bottom: 3 rem;
}

.pb-56 {
  padding-bottom: 3.5 rem;
}

.pl-8 {
  padding-left: 0.5 rem;
}

.pl-16 {
  padding-left: 1 rem;
}

.pl-24 {
  padding-left: 1.5 rem;
}

.pl-32 {
  padding-left: 2 rem;
}

.pl-40 {
  padding-left: 2.5 rem;
}

.pl-48 {
  padding-left: 3 rem;
}

.pl-56 {
  padding-left: 3.5 rem;
}

.pr-8 {
  padding-right: 0.5 rem;
}

.pr-16 {
  padding-right: 1 rem;
}

.pr-24 {
  padding-right: 1.5 rem;
}

.pr-32 {
  padding-right: 2 rem;
}

.pr-40 {
  padding-right: 2.5 rem;
}

.pr-48 {
  padding-right: 3 rem;
}

.pr-56 {
  padding-right: 3.5 rem;
}

.m-none {
  margin: 0;
}

.p-none {
  padding: 0;
}

.p-none-f {
  padding: 0 !important;
}

.m-none-f {
  margin: 0 !important;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.small {
  font-size: 0.5rem;
}

.regular {
  font-size: 1rem;
}

.medium {
  font-size: 1.5rem;
}

.large {
  font-size: 2rem;
}

.x-large {
  font-size: 2.5rem;
}

.big {
  font-size: 3rem;
}

.x-big {
  font-size: 3.5rem;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.container {
  width: 100%;
  padding-inline: 1rem;
  margin-inline: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 33.75rem;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 45rem;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 60rem;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 71.25rem;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 87.5rem;
  }
}

.row {
  display: flex;
  justify-content: flex-start;
  padding: 0.8rem;
  gap: 0.5rem;
}

.col-1 {
  display: flex;
  flex-direction: column;
  width: 8.333333333%;
}

.col-2 {
  display: flex;
  flex-direction: column;
  width: 16.666666666%;
}

.col-3 {
  display: flex;
  flex-direction: column;
  width: 24.999999999%;
}

.col-4 {
  display: flex;
  flex-direction: column;
  width: 33.333333332%;
}

.col-5 {
  display: flex;
  flex-direction: column;
  width: 41.666666665%;
}

.col-6 {
  display: flex;
  flex-direction: column;
  width: 49.999999998%;
}

.col-7 {
  display: flex;
  flex-direction: column;
  width: 58.333333331%;
}

.col-8 {
  display: flex;
  flex-direction: column;
  width: 66.666666664%;
}

.col-9 {
  display: flex;
  flex-direction: column;
  width: 74.999999997%;
}

.col-10 {
  display: flex;
  flex-direction: column;
  width: 83.33333333%;
}

.col-11 {
  display: flex;
  flex-direction: column;
  width: 91.666666663%;
}

.col-12 {
  display: flex;
  flex-direction: column;
  width: 99.999999996%;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

.jc-evenly {
  justify-content: space-evenly;
}

.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}
